RESEND_API_KEY="Tolong di sms kan dulu orang nya"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="Oh tuhannn ku cintaa dia, ku sayangg dia rinduu diaaa, inginkan diaaa"
MINIO_HOST="localhost magelan"
MINIO_ACCESS_KEY="Ngawi cipularang object"
MINIO_SECRET_KEY="admin123"